
@{
    ViewBag.Title = "Solicitudes de Referencia Aceptadas";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<link rel="stylesheet" href="~/Content/boostrap-table/src/bootstrap-table.css">
<link rel="stylesheet" href="~/Content/awesomplete.css">


@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Content/boostrap-table/src/bootstrap-table.js"></script>
<script src="~/Content/boostrap-table/src/locale/bootstrap-table-es-ES.js"></script>
<script src="~/Scripts/awesomplete.js" type="text/javascript"></script>
@*<script src="~/Content/boostrap-table/src/extensions/filter-control/bootstrap-table-filter-control.js"></script>data-filter-control="true"   filterControl: 'input',*@
<script src="~/Content/boostrap-table/src/extensions/mobile/bootstrap-table-mobile.js"></script>

<ol class="breadcrumb">
    <li><a href="#">Médico de Referencia</a></li>
    <li class="active">Ver Solicitudes Aceptadas</li>
</ol>

<div class="paragraphs">
    <div class="row">
        <div class="span4">
            <div class="content-heading" style="margin-left:17px !important;">

                <h3 class="pull-left">Solicitudes Aceptadas &nbsp &nbsp </h3>
                <img src="~/Content/images/text format3.png" />
            </div>

        </div>
    </div>
</div>
<br />

<div class="panel panel-info">
    <div class="panel-heading">Médico</div>
    <div class="panel-body">
        <div class="form-group">
            <label for="email" class="control-label col-md-2">Nro de Documento:</label>
            <div class="col-md-10">
                <input id="idMedico" class="form-control"  />
            </div>
        </div>
    </div>
</div>

<div id="divPacientes">

    <div>
        <table id="tablaPacientes" data-pagination="true" data-side-pagination="client"
               data-page-list="[10, 25, 50, 100, ALL]" data-row-style="rowStyle" data-search="true" data-mobile-responsive="true" data-check-on-init="true"></table>
    </div>
</div>  

<script>
    $(document).ready(function () {

        $("#divPacientes").hide();
        var input1 = document.getElementById("idMedico");
        var awesomplete = new Awesomplete(input1, {
            minChars: 1,
            maxItems: 15,
        });

        $.ajax({
            url: '@Url.Action("GetMedicos", "MedicoRef")',
            dataType: "json",
            type: "GET",
            cache: false,
            success: function (data) {


                var list = [];
                $.each(data, function (key, value) {
                    list.push(value.MedicoID);
                });

                awesomplete.list = list;


            },
            error: function (xhr) {

                //alert('error autocomplete');
            }
        });



        $("#idMedico").change(function () {

            
            //Ver de validar CI
            $('#tablaPacientes').bootstrapTable('destroy');
            $('#tablaPacientes').bootstrapTable({
                url: '@Url.Action("GetPacientesAprobados", "MedicoRef")' + '?idM=' + $("#idMedico").val(),

                columns: [{
                    field: 'PacienteID',
                    title: 'Id Paciente',
                  
                    sortable: true
                }, {
                    field: 'fechaSolicitud',
                    title: 'Fecha de Solicitud',
                   
                    sortable: true
                }, {
                    field: 'fechaAprobacion',
                    title: 'Fecha de Aprobación',
                 
                    sortable: true
                }, {
                    field: 'nombre',
                    title: 'Nombre',
                  
                    sortable: true
                }, {
                    field: 'celular',
                    title: 'Celular',
                  
                    sortable: true
                }, {
                    field: 'telefono',
                    title: 'Teléfono',
                    
                    sortable: true
                },
                {
                    field: 'sexo',
                    title: 'Sexo',
                   
                    sortable: true
                }

                ]
            });

            $("#divPacientes").show();
        });


    })

    function rowStyle(row, index) {
        var classes = ['active', 'success', 'info', 'warning', 'danger'];

        if (index % 2 === 0) {
            return {
                classes: classes[2]
            };
        }
        return {};
    }
</script>