
@{
    ViewBag.Title = "Crear Evento";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Scripts/knockout-3.3.0.js" type="text/javascript"></script>

<ol class="breadcrumb">
    <li><a href="#">Notificaciones</a></li>
    <li class="active">Crear Evento</li>
</ol>

<div class="paragraphs">
    <div class="row">
        <div class="span4">
            <div class="content-heading" style="margin-left:17px !important;">

                <h3 class="pull-left">Crear Evento &nbsp &nbsp &nbsp &nbsp </h3>
                <img src="~/Content/images/Notis.png" />
            </div>

        </div>
    </div>
</div>
<hr />
@using (Html.BeginForm())
    {
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">Tipo:</label>
            <div class="col-md-10">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Seleccione...
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#" id="obligatorio">Obligatorio</a></li>
                        <li><a href="#" id="opcional">Opcional</a></li>

                    </ul>
                </div>
            </div>
        </div>

        <div id="divG" style="display:none">
            <div class="form-group">
                <label class="control-label col-md-2">Nombre:</label>
                <div class="col-md-10">
                    <input id="nombre" class="form-control" placeholder="Ingrese un Nombre" /> 
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Sexo:</label>
                <div class="col-md-10">
                    <select id ="sexo" style="width:280px">
                        <option value="0" selected>Seleccione...</option>
                        <option value="F">Femenino</option>
                        <option value="M">Masculino</option>
                        <option value="A">Ambos</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Mensaje:</label>
                <div class="col-md-10">
                    <textarea rows="4" cols="50" id="msj">
                   
                    </textarea>
                </div>
            </div>
        </div>

        <div id="divOb" style="display:none">
            <div class="form-group">
                <label class="control-label col-md-2">Fecha Notificación:</label>
                <div class="col-md-10">
                    <input id="fN" class="form-control datetimepicker" placeholder="Seleccione una fecha..." />
                </div>
            </div>
        </div>
        <div id="divOp" style="display:none">
            <div class="form-group">
                <label class="control-label col-md-2">Edades:</label>
                <div class="col-md-10">
                    <table class="table table-hover">
                        <tr>
                            <th>Inicio</th>
                            <th>Fin</th>
                           
                        </tr>
                        <tbody data-bind="foreach: contacts">
                            <tr>
                                <td>
                                    <input data-bind='value: firstName' />
                                    <div><a href='#' data-bind='click: $root.removeContact'>Delete</a></div>
                                </td>
                                <td><input data-bind='value: lastName' /></td>
                              
                            </tr>
                        </tbody>
                    </table>
                    <p>
                        <button data-bind='click: addContact'>Add a contact</button>
                        <button data-bind='click: save, enable: contacts().length > 0'>Save to JSON</button>
                    </p>

                    <textarea data-bind='value: lastSavedJson' rows='5' cols='60' disabled='disabled'> </textarea>

                </div>
            </div>
        </div>
     </div>
        @*<div id="espG">
                <div class="form-group">
                    <label for="email" class="col-sm-4 control-label">Especialidad :</label>
                    <div class="col-sm-8" id="especialidadDiv">
                        <!--<input id="email" class="form-control" type="email" placeholder="Enter Your Email-Id" /> -->
                    </div>
                </div>
            </div>
            <div id="medG">
                <div class="form-group">
                    <label for="email" class="col-sm-4 control-label">Médico :</label>
                    <div class="col-sm-8" id="medicoDiv">
                        <!--<input id="email" class="form-control" type="email" placeholder="Enter Your Email-Id" /> -->
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-4 control-label">Fecha Inicio :</label>
                <div class="col-sm-8">
                    <input id="fechaInicioM" class="form-control datetimepicker" placeholder="Seleccione una fecha..." />
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-4 control-label">Fecha Fin :</label>
                <div class="col-sm-8">
                    <input id="fechaFinM" class="form-control datetimepicker" placeholder="Seleccione una fecha..." />
                </div>
            </div>
            <input id="idRow" type="hidden" />*@
        }


<script>
    $(document).ready(function () {

        $(function () {
            $('.datetimepicker').datetimepicker({
                locale: 'es'

            });

        });

        $("#obligatorio").click(function () {
            limpiarCamposOb();
            $("#divG").show();
            $("#divOb").show();
            
        });

        $("#opcional").click(function () {

            $("#divG").show();
            $("#divOp").show();
            
        });

        function limpiarCamposOb() {
           
            $("#nombre").val("");
            $("#sexo").val(0);
            $("textarea#msj").val("");
            $("#fN").val("");
            
        }
    });

</script>
<script>

    var initialData = [
    {
        firstName: "Danny", lastName: "LaRusso"
    },
    {
        firstName: "Sensei", lastName: "Miyagi"
    }
    ];
    var ContactsModel = function (contacts) {
        var self = this;
        self.contacts = ko.observableArray(ko.utils.arrayMap(contacts, function (contact) {
            return { firstName: contact.firstName, lastName: contact.lastName};
        }));

        self.addContact = function () {
            self.contacts.push({
                firstName: "",
                lastName: ""
            });
        };

        self.removeContact = function (contact) {
            self.contacts.remove(contact);
        };

        

        self.save = function () {
            self.lastSavedJson(JSON.stringify(ko.toJS(self.contacts), null, 2));
        };

        self.lastSavedJson = ko.observable("")
    };

    ko.applyBindings(new ContactsModel(initialData));
</script>