
@{
    ViewBag.Title = "Crear Evento";
    Layout = "~/Views/Shared/_Admin.cshtml";
}


<link rel="stylesheet" href="~/Scripts/Boostrap-Select/dist/css/bootstrap-select.css">
<link rel="stylesheet" href="~/Content/awesomplete.css">
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Scripts/Boostrap-Select/js/bootstrap-select.js"></script>
<script src="~/Scripts/knockout-3.3.0.js" type="text/javascript"></script>

<script src="~/Scripts/awesomplete.js" type="text/javascript"></script>


<ol class="breadcrumb">
    <li><a href="#">Notificaciones</a></li>
    <li class="active">Crear Evento</li>
</ol>

<div class="paragraphs">
    <div class="row">
        <div class="span4">
            <div class="content-heading" style="margin-left:17px !important;">

                <h3 class="pull-left">Crear Evento &nbsp &nbsp &nbsp &nbsp </h3>
                <img src="~/Content/images/Notis.png" />
            </div>
        
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
     <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#dg" data-toggle="tab">Datos Generales</a></li>
        
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Tipo de Evento <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#tipo" data-toggle="tab" id="Ob">Obligatorio</a></li>
                <li><a href="#tipo" data-toggle="tab" id="Op">Opcional</a></li>
            </ul>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="dg">
                <br /><br />
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2">Nombre:</label>
                        <div class="col-md-10">
                            <input id="nombre" class="form-control" placeholder="Ingrese un Nombre" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Sexo:</label>
                        <div class="col-md-10">
                            <select id="sexo" class="selectpicker" title="Seleccione..." data-width="280px">

                                <option value="F">Femenino</option>
                                <option value="M">Masculino</option>
                                <option value="A">Ambos</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Mensaje:</label>
                        <div class="col-md-10">
                            <textarea rows="4" cols="50" id="msj"></textarea>
                        </div>
                    </div>

                </div>

                
            </div>
        <div role="tabpanel" class="tab-pane" id="tipo">

            <div class="form-horizontal">
                <br /><br />
                <div id="divOb" style="display:none">
                    <div class="form-group">
                        <label class="control-label col-md-2">Fecha Notificación:</label>
                        <div class="col-md-10">
                            <input id="fN" class="form-control datetimepicker" placeholder="Seleccione una fecha..." />
                        </div>
                    </div>
                </div>
                <div id="divOp" style="display:none">
                    <div class="form-group">
                        <label class="control-label col-md-2">Edades:</label>
                        <div class="col-md-10">
                            <select id="edad" class="selectpicker" title="Seleccione..." data-width="280px">

                                <option value="R">Rango</option>
                                <option value="M">Manual</option>

                            </select>

                        </div>
                    </div>
                    <div id="divOpR">
                        <div class="form-group">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-1"><input id="edadIni" class="form-control" placeholder="Edad Inicio" style="width:100px" /></div>
                            <div class="col-sm-3"><input id="edadFin" class="form-control" placeholder="Edad Fin" style="width:100px" /></div>
                        </div>

                    </div>
                    <div id="divOpM" style="display:none">
                        @*<p>First name: <input data-bind="value: firstName" /></p>
                        <p>Last name: <input data-bind="value: lastName" /></p>*@

                        <div class="form-group">
                            <label class="control-label col-md-2">Edad a agregar:</label>
                            <div class="col-md-10">
                               
                                    <input type="text" class="form-control" data-bind='value:itemToAdd, valueUpdate: "afterkeydown"' />
                                 
                                    <img src="~/Content/images/add182.png" data-bind="click: addItem, enable: itemToAdd().length > 0" style="cursor: pointer;" class="img-responsive" />
                               
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Edades ingresadas:</label>
                            <div class="col-md-10">
                                <select style="width:100px;height:150px;" multiple="multiple" height="10" data-bind="options:allItems, selectedOptions:selectedItems"> </select>
                            </div>
                          
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2"></label>
                            <div class="col-md-10">
                                <input class="btn btn-default" type="button" value="Eliminar" data-bind="click: removeSelected, enable: selectedItems().length > 0">
                                <input class="btn btn-default" type="button" value="Ordenar" data-bind="click: sortItems, enable: allItems().length > 1" >
                              

                            </div>
                        
                        
                        </div>

                     </div>
                   
                </div>
               
            </div>
       
        </div>

    </div>

   
    
  
}


<script>

  
 
    $(document).ready(function () {

       

        

        var data_edades = [];
     
        for (i = 18; i < 101; i++) {
            data_edades.push(i.toString());
            var aux = i.toString();
           
        };

       
        
     
       
      
        var input1 = document.getElementById("edadIni");
        var awesompleteI = new Awesomplete(input1, {
            minChars: 1,
            maxItems: 5,
        });
      
        var input2 = document.getElementById("edadFin");
        var awesompleteF = new Awesomplete(input2, {
            minChars: 1,
            maxItems: 5,
        });
     
        awesompleteI.list = data_edades;
        awesompleteF.list = data_edades;
       
        $(function () {
            $('.datetimepicker').datetimepicker({
                locale: 'es'

            });

        });

        $("#Ob").click(function () {
            //$("#fN").val("");
            $("#divOb").show();
            $("#divOp").hide();
        });



        $("#Op").click(function () {
           // $("#edadIni").val("");
           //$("#edadFin").val("");
            $("#divOb").hide();
            $("#divOp").show();
            $("#divOpR").hide();
            $("#divOpM").hide();
            if ($("#edad option:selected").val() == "R") {

                $("#divOpR").show();

            } else if ($("#edad option:selected").val() == "M") {

                $("#divOpM").show();
            }
           // $("#edad").val([]);
        });


        $("#edad").change(function () {

            $("#divOpR").hide();
            $("#divOpM").hide();
            $("#edadIni").val("");
            $("#edadFin").val("");
            window.vm.addItem("")
            window.vm.removeAll();
          
            if ($("#edad option:selected").val() == "R") {
                
                $("#divOpR").show();

            } else if ($("#edad option:selected").val() == "M") {

                $("#divOpM").show();
            }

        });


        function limpiarCamposOb() {
           
            $("#nombre").val("");
            $("#sexo").val(0);
            $("textarea#msj").val("");
            $("#fN").val("");
            
        }

       
        // This is a simple *viewmodel* - JavaScript that defines the data and behavior of your UI
        //function AppViewModel() {
        //    this.firstName = ko.observable("Bert");
        //    this.lastName = ko.observable("Bertington");
        //}

        //// Activates knockout.js
        //window.vm = new AppViewModel()
        //ko.applyBindings(window.vm);
       
        var BetterListModel = function () {
            this.itemToAdd = ko.observable("");
            this.allItems = ko.observableArray([]); // Initial items
            this.selectedItems = ko.observableArray(["Ham"]);                                // Initial selection

            this.addItem = function () {
                if ((this.itemToAdd().match("[0-9]+")) && (parseInt(this.itemToAdd()) >= 18) && (this.allItems.indexOf(this.itemToAdd()) < 0)) // Prevent blanks and duplicates
                    this.allItems.push(this.itemToAdd());
                this.itemToAdd(""); // Clear the text box
            };

            this.removeSelected = function () {
                this.allItems.removeAll(this.selectedItems());
                this.selectedItems([]); // Clear selection
            };

            this.removeAll = function () {
                this.allItems([]);
                this.selectedItems([]); // Clear selection
            };

            this.sortItems = function () {
                this.allItems.sort();
            };
        };

        window.vm = new BetterListModel();
        ko.applyBindings(window.vm);


        $("#prueba").click(function () {
            alert("1");
            //window.vm.firstName("333")
            alert(window.vm.allItems());
            alert("2");

        });


        
    });

    
</script>
