
@{
    ViewBag.Title = "Ver Notificaciones";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<ol class="breadcrumb">
    <li><a href="#">Notificaciones</a></li>
    <li class="active">Ver Notificaciones</li>
</ol>

<div class="paragraphs">
    <div class="row">
        <div class="span4">
            <div class="content-heading" style="margin-left:17px !important;">

                <h3 class="pull-left">Notificaciones &nbsp &nbsp </h3>
                <img src="~/Content/images/Notis.png" />
            </div>

        </div>
    </div>
</div>

