@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/Layout_index.cshtml";
}


<!-- Half Page Image Background Carousel Header -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill" style="background-image:url('/Content/images/rect6898.png');"></div>
            <div class="carousel-caption">
                <h2>Alta disponibilidad y Acceso desde cualquier dispositivo</h2>
               
            </div>
        </div>
        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" style="background-image:url('/Content/images/agenda11.png');"></div>
            <div class="carousel-caption">
                <h2>Agenda y Cancelación de consultas online</h2>
                <p>Evite largas colas de espera, agende su consulta sin moverse de su casa.</p>
            </div>
        </div>
        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" style="background-image:url('/Content/images/notis11.jpg');"></div>
            <div class="carousel-caption">
                <h2>Notificaciones</h2>
                <p>Reciba notificaciones configurables no intrusivas que le permitan realizar un correcto seguimiento de su estado de salud.</p>
            </div>
        </div>
        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" style="background-image:url('/Content/images/MedRef.png');"></div>
                <div class="carousel-caption">
                    <h2>Médico de Referencia</h2>
                    <p>Seleccione un médico referente y tenga prioridad en consultas.</p>
                </div>
        </div>
        
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>SAREM</h1>
            <p>Agende y cancele consultas de forma online. Reciba notificaciones en su dispositivo. Comience el tramite de Médico Referente.</p>
        </div>
    </div>
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; SAREM 2015</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>
</div>
<!-- /.container -->

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>