
@{
    ViewBag.Title = "Ver Consultas Agendadas y Cancelar Consultas";
    Layout = "~/Views/Shared/_User.cshtml";
}

<link rel="stylesheet" href="~/Content/boostrap-table/src/bootstrap-table.css">

@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Content/boostrap-table/src/bootstrap-table.js"></script>
<script src="~/Content/boostrap-table/src/locale/bootstrap-table-es-ES.js"></script>
<script src="~/Content/boostrap-table/src/extensions/filter-control/bootstrap-table-filter-control.js"></script>


<ol class="breadcrumb">
    <li><a href="#">Consultas</a></li>
    <li class="active">Ver Consultas Agendadas y Cancelar Consultas</li>
</ol>

<div class="paragraphs">
    <div class="row">
        <div class="span4">
            <div class="content-heading" style="margin-left:17px !important;">
                <h3 class="pull-left">Consultas Agendadas &nbsp &nbsp </h3>
                <img src="~/Content/images/clock118.png" />
            </div>

        </div>
    </div>
</div>
<br />
<div>
    <table data-toggle="table" data-url='@Url.Action("GetConsultasPaciente", "Consulta")' data-pagination="true" data-side-pagination="client"
           data-page-list="[10, 25, 50, 100, ALL]" data-row-style="rowStyle" data-sort-order="desc" data-filter-control="true" id="tablaConsultas" data-id-field="idC">
        <thead>
            <tr>
                <th data-field="idC" data-visible="false">ID</th>
                <th data-field="origen" data-sortable="true" data-filter-control="input">Orígen</th>
                <th data-field="especialidad" data-sortable="true" data-filter-control="input">Especialidad</th>
                <th data-field="medico" data-sortable="true" data-filter-control="input">Médico</th>
                <th data-field="fechaInicio" data-sortable="true" data-filter-control="input">Fecha Inicio</th>
                <th data-field="fechaFin" data-sortable="true" data-filter-control="input">Fecha Fin</th>
                <th data-field="turno" data-sortable="true" data-filter-control="input">Turno</th>
                <th data-field="operacion" data-events="operateEvents" data-formatter="operateFormatter" data-align="center">Cancelar</th>
            </tr>
        </thead>

    </table>
</div>

<script>

    $(document).ready(function () {


        $("#remove").click(function () {

           $.ajax({
                url: '@Url.Action("CancelarConsulta", "Consulta")',
                dataType: "json",
                type: "POST",
                data: { idC: $("#idRowDel").val() },

                cache: false,
                success: function (data) {

                    if (data.success) {


                        $('#modalRemove').modal('hide');
                        alert("hola");
                        $('#tablaConsultas').bootstrapTable("refresh", { silent: true });
                        alert("chau");

                    } else {

                        alert("error al cancelar consulta");
                    }
                },
                error: function (xhr) {

                    alert('error');
                }
            })



        });
    });

    function rowStyle(row, index) {
        var classes = ['active', 'success', 'info', 'warning', 'danger'];

        if (index % 2 === 0) {
            return {
                classes: classes[2]
            };
        }
        return {};
    }



    window.operateEvents = {

        'click .remove': function (e, value, row, index) {

            $("#idRowDel").val(row.idC);
            $('#modalRemove').modal('show');
            // $table.bootstrapTable('remove', {
            //     field: 'idC',
            //     values: [row.idC]
            // });
        }
    };

    function operateFormatter(value, row, index) {
        return [

            '<a class="remove" href="javascript:void(0)" title="Cancelar Consulta">',
            '<i class="glyphicon glyphicon-remove"></i>',
            '</a>',


        ].join('');
    }

</script>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="modalRemove">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Ok"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Cancelar Consulta</h4>
            </div>
            <div class="modal-body">
                <p>Está seguro/a que desea cancelar la consulta ?</p>
                <input id="idRowDel" type="hidden" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="remove">Si</button>

                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>